<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.wit.runappv1">
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="ie.wit.runappv1.main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaceAppV1">


        <activity android:name="ie.wit.runappv1.activities.SplashActivity"
            android:theme="@style/Theme.RaceAppV1.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ie.wit.runappv1.activities.RaceListActivity">

        </activity>
        <activity android:name="ie.wit.runappv1.activities.RaceActivity">
        </activity>
        <activity android:name="ie.wit.runappv1.activities.LoginActivity">
        </activity>
        <activity android:name="ie.wit.runappv1.activities.RegisterActivity">
        </activity>
    </application>

</manifest>